@using CVproject.Models
@model List<TblEducation>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Education List</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Subtitle 2</th>
        <th>GPA</th>
        <th>Date</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.Subtitle</td>
            <td>@item.Subtitle2</td>
            <td>@item.GPA</td>
            <td>@item.Date</td>
            <td><a href="/Education/UpdateEducation/@item.Id" class="btn btn-warning">Update</a></td>
            <td><a href="/Education/DeleteEducation/@item.Id" class="btn btn-danger">Delete</a></td>
        </tr>
    }
</table>
<br />
<a href="/Education/AddEducation/" class="btn btn-success">Create New</a>


